* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.userContact {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  max-width: 600px;
  text-align: center;
  justify-content: center;
  margin: 4rem auto;
  border-radius: 5px;
  padding: 2rem;
}
.userContact h1 {
  color: #0a66c2;
}
.userContact .inputBox {
  position: relative;
}

.userContact .inputBox input {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid #0a66c2;
  background: transparent;
}
.userContact .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 1rem;
  color: #0a66c2;
  transition: 0.5s;
  outline: none;
}
.userContact .inputBox input:focus ~ label,
.userContact .inputBox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #0a66c2;
  font-size: 10px;
}
.userContact input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid #0a66c2;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 0 auto;
}
