.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem 0.5rem 2rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
h2 {
  color: #0a66c2;
  font-size: 2.5rem;
}
ul {
  display: flex;
}
li {
  display: block;
  font-size: 1.1rem;
  padding: 0rem;
}
span {
  padding: 0.7rem;
  color: #0a66c2;
}
.link {
  list-style-type: none;
  text-decoration: none;
  color: black;
}
